h1{
	color: red;
	text-align: center;
	}
	
	p {
		font-size: 130%;
	}		

#intro {
	background-color: lightgreen;
}	

.first {
	font-size:150%;
}	

#intro .first {
	color: red;
}
h4{
	text-align: center;
}
nav{
	text-align: center;
	border-bottom-color: red;
}
p{
	text-align: center;
	background-color:lightblue;
}
h2{
	text-align: center;
}
